﻿<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </head>
    <body>
        @if (TempData["message"] != null)
        {
            <div class="Message">@TempData["message"]</div>
        }
        <div>
            @RenderBody()
        </div>
    </body>
</html>
