﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        @Html.Action("Summary", "Cart")
        <div class="title">SPORTS STORE</div>
    </div>
    <div id="categories">
        @Html.Action("Menu", "Nav")
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>