﻿@model IEnumerable<SportsStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Products</h1>

<table class="Grid">
    <tr>
        <th>

        </th>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th class="NumericCol">
            Price
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.ImageData != null)
                {
                    <div style="float:left;margin-right:20px">
                        <img width="75" height="75" src="@Url.Action("GetImage", "Product",new { Model.ProductID })" / />
                    </div>
                }
            </td>
            <td>
                @item.ProductID
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { item.ProductID })
            </td>
            <td class="NumericCol">
                @item.Price.ToString("c")
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductID", item.ProductID)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
