﻿@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin; Log in";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Log In</h1>

<p>Please log in to acces the administrative area:</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log in" /></p>
}