﻿@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}
<h2>Your cart</h2>
<table width="90%" align="center">
    <thead>
        <tr>
            <th>Photo</th>
            <th align="center">Quantity</th>
            <th align="left">Item</th>
            <th align="right">Price</th>

            <th align="right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td>
                    @if (line.Product.ImageData != null)
                    {
                        <div style="float:left;margin-right:20px">
                            <img width="75" height="75" src="@Url.Action("GetImage", "Product",new { line.Product.ProductID })" / />
                        </div>
                    }
                </td>
                <td align="center">
                    @using (Html.BeginForm("Recount", "Cart"))
                    {
                        @Html.Hidden("productId", line.Product.ProductID)
                        <input name="count" type="number" value="@line.Quantity" />
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="actionButtons" type="submit" value="Recount" />

                    }
                </td>
                <td align="left">@line.Product.Name</td>
                <td align="right">@line.Product.Price.ToString("c")</td>
                <td align="right">

                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="actionButtons" type="submit"
                               value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continuje shopping</a>
    @Html.ActionLink("Checkout now", "Checkout")
</p>